body {
  background: #343838 !important;
}

.sidebar {
  margin-bottom: 5px;
}

.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu > li > a {
  font-size: 16px !important;
  line-height: 27px;
}

.sidebar .sidebar-menu > li > a > .fa, .sidebar .sidebar-menu > li > a > .glyphicon, .sidebar .sidebar-menu > li > a > .ion {
  width: 20px;
}

/* skin-blue sidebar */
.sidebar {
/*  border-bottom: 1px solid #fff;*/
}

.sidebar > .sidebar-menu > li {
  /*border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;*/
}

.sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}

.sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}

.sidebar > .sidebar-menu > li > a {
  margin-right: 0px;
}

.sidebar > .sidebar-menu > li > a:hover,
.sidebar > .sidebar-menu > li.active > a {
  color: #e7e7e7;
  background: #4d5252;
}

.sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #282b2b;
}

.left-side {
  background: #343838;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}

.sidebar a {
  color: #e7e7e7;
}

.sidebar a:hover {
  text-decoration: none;
}

.treeview-menu > li > a {
  color: #e7e7e7;
  margin-left: 0 !important;
}

.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  background:#4d5252;
}

.sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}

.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}

.sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}

.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}

.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}

.sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

.treeview-menu li.active{
  background:#D6D4D4;
}

.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}

.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 30px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}

/* END CSS */